#Loadable Kernel Module support
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_MODULE_SIG=n
CONFIG_MODULE_COMPRESS=n
CONFIG_TRIM_UNUSED_KSYMS=n

#platform selection
CONFIG_MACH_A01Q_USA_VZW=n
CONFIG_MACH_A01Q_SWA_INS=y

#customizations
CONFIG_DEFAULT_HOSTNAME="kali"

#Requirements
CONFIG_BUILD_ARM64_DT_OVERLAY=y
CONFIG_TOUCHSCREEN_GX=n

#Always permissive
CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=y

#Wireguard
CONFIG_WIREGUARD=y

#DTS
CONFIG_AINUR_DTS_SW=y

#CIFS and Samba
CONFIG_CIFS=y
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CIFS_DFS_UPCALL=y
CONFIG_CIFS_SMB2=y
CONFIG_CIFS_SMB311=y

#NTFS
CONFIG_NTFS_FS=y
CONFIG_NTFS_RW=y

#LZ4
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_LZ4_COMPRESS=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_ZSTD_COMPRESS=y
CONFIG_ZSTD_DECOMPRESS=y
CONFIG_RD_LZ4=y

#EROFS
CONFIG_EROFS_FS=y
# CONFIG_EROFS_FS_DEBUG is not set
CONFIG_EROFS_FS_XATTR=y
CONFIG_EROFS_FS_POSIX_ACL=y
CONFIG_EROFS_FS_SECURITY=y
CONFIG_EROFS_FS_ZIP=y
CONFIG_EROFS_FS_CLUSTER_PAGE_LIMIT=1
CONFIG_EROFS_FS_ARMV8_ACCELERATED_LZ4=y

#USB HOST
CONFIG_USB_OTG=y
CONFIG_USB_OTG_FSM=y
CONFIG_USB_WDM=y
CONFIG_USB_HOST_SAMSUNG_FEATURE=y
