#Loadable Kernel Module support
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_MODULE_SIG=n
CONFIG_MODULE_COMPRESS=n
CONFIG_TRIM_UNUSED_KSYMS=n

#platform selection
CONFIG_MACH_A01Q_USA_VZW=n
CONFIG_MACH_A01Q_SWA_INS=y

#customizations
CONFIG_LOCALVERSION="-Nethunter"
CONFIG_DEFAULT_HOSTNAME="kali"

#Requirements
CONFIG_BUILD_ARM64_DT_OVERLAY=y
CONFIG_INTEGRITY=n
CONFIG_SECURITY_DSMS=n
CONFIG_BLK_DEV_DM=n
CONFIG_DM_VERITY-n